.match-history-main-container {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
}

.match-history-sub-container {
    height: auto;
    width: 100%;
}

.match-history-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 16px;
    padding: 16px;
}

.match-history-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}